*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    
}
#main{
    height: 100%;
    width: 100%;
    background: rgb(237, 240, 241);
    
}
#nav{
        height: 100px;
        width: 100%;
        background:  rgb(237, 240, 241);
        display: flex;
        align-items:center;
        justify-content: space-between;
        padding: 0px 30px;
}
#nav1{
    display: flex;
    align-items: center;
    justify-content: center;


        
}
#nav h3{
    font-size: 16px;
    font-weight: 500;
    border: 1.5px solid black;
    padding: 5px 10px;
    border-radius: 50px;
   
}
#nav p{
    font-size: 17px;
    font-weight: 500;
    border: 1.5px solid black;
    padding: 5px 7px;
    border-radius: 50px;
}
#nav2 {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav button {
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 16px;
    font-weight:600 ;
}
#btn2 {
    background-color: orangered;
    color: white;
    border: none;
}
#main>h1 {
    /* color:red; */
    font-size: 170px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

#main>img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    object-position:bottom;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    
}
#img1{
   transform: translate(-50%,-50%) rotate(-30deg);

}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);

 }
 #img3{
    transform: translate(-50%,-50%) rotate(-10deg);

 }
 #img4{
    transform: translate(-50%,-50%) rotate(0deg);
 }
 
 #btn-txt{
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 14px;
 }
#ig{
    position: absolute;
    bottom: 80px;
    right: 140px;
    
}
#yt{
    position: absolute;
    bottom: 80px;
    right: 180px;  
}
#fb{
    position: absolute;
    bottom: 80px;
    right: 100px;  
}
#btn0{
    position: absolute;
    bottom: 50px;
    right: 80px;
}